<phpunit>
  <filter>
    <whitelist>
      <directory>src\ContactService.php</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="./coverage" title="My Project Coverage"/>
    <log type="coverage-clover" target="./coverage.clover"/>
    <log type="coverage-crap4j" target="./crap4j.xml"/>
    <log type="junit" target="./junit.xml"/>
  </logging>
</phpunit>
